body {
	background-color: #8FFFE4; 
	padding-bottom: 10px;
	padding-top: 40px;
}

#heady{
	background-color: #46BEC2;
	color:#8FFFE4;
	height: 50px;
	margin-top: -20px;
	text-align: center;
	padding-top: 5px;
}

.container-fluid {
	font-family: 'handlee', cursive;
	font-size: 18px;

}

h1 {
	font-family: 'handlee', cursive;
	font-size: 90px;
	text-align: center;
	color: #2E1046;
	padding-top: 30px;
	padding-bottom: 30px;
}

.monimage img {
border: 1px dashed #6818A5;
}

.madefinition {
	color: #2E1046;
	background-color: #46BEC2;
	font-family: 'Droid Serif', serif;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 15px;
	border: 2px dotted #0093B0;
	border-radius: 5%;
	margin-top: 15px;
}

.madefinition h3 {
	text-align: center;
	font-size: 25px;
}

.madefinition p {
	text-align: right;
}

#bonheur {
	padding-top: 30px;
	font-family: 'handlee', cursive;
	font-size: 25px;
	text-align: center;
	color: #46BEC2;
}

section {
	padding-bottom: 60px;
	padding-top: 30px;
}

article h4 {
	font-family: 'handlee', cursive;
	font-size: 25px; 
	text-align: center;
}

article a {
	color: #2E1046;
}

article a:hover {
	text-decoration: none;
	color: #8FFFE4;
}

#beauty {
	font-family:'Droid Serif', serif;
	background-color: #DB639D;
	color: #2E1046;
	border-radius: 5%;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	margin-top: 40px;
	text-align: center;
	padding-top: 10px;
}

#mode {
	font-family:'Droid Serif', serif;
	background-color: #AE9AD9;
	border-radius: 5%;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
}

#culture {
	font-family:'Droid Serif', serif;
	color: #2E1046;
	background-color: #9C466F;
	border-radius: 5%;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
}

#food {
	font-family:'Droid Serif', serif;
	color: #2E1046;
	background-color: #F289AD;
	border-radius: 5%;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
}

#foot {
	background-color: #46BEC2;
	padding-bottom: 10px;
}

.clear {
	clear:both;
}

.follow {
	text-align: center;
	color: #8FFFE4;
}

.contact {
	text-align: center;
	color: #8FFFE4;	
}

i {
	margin-left: 30px;
}

footer a {
	color: #8FFFE4;
}

footer a:hover {
	text-decoration: none;
	color: #9C466F;
}

footer h5 {
	font-size: 20px;
	padding-left: 25px;
}


